<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<link rel="stylesheet" href="https://tagalys-assets.s3-ap-southeast-1.amazonaws.com/extension-assets/js-tree/theme-proton/style.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .tagalys-note {
        padding: 5px 10px;
    }

    .tagalys-note ul {
        list-style-type: disc;
    }

    .tagalys-progressbar {
        width: 100%;
        height: 20px;
        background: #ccc;
    }

    .tagalys-progressbar-completed {
        float: left;
        width: 0;
        height: 100%;
        font-size: 12px;
        line-height: 20px;
        color: #fff;
        text-align: center;
        background-color: #337ab7;
        -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
        -webkit-transition: width .6s ease;
        -o-transition: width .6s ease;
        transition: width .6s ease;
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
        background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
        -webkit-background-size: 40px 40px;
        background-size: 40px 40px
    }

    #admin_tagalys_sync_feed_fieldset,
    th,
    td {
        padding: 3px;
    }

    .tagalys-btn {
        border-width: 1px;
        border-style: solid;
        border-color: #ed6502 #a04300 #a04300 #ed6502;
        padding: 1px 7px 2px 7px;
        background: #ffac47 url(../../images/btn_bg.gif) repeat-x 0 100%;
        color: #fff;
        font: bold 12px arial, helvetica, sans-serif;
        cursor: pointer;
        text-align: center !important;
        white-space: nowrap;
        text-decoration: none;
    }

    .tagalys-btn:hover {
        color: #fff;
        text-decoration: none;
    }

    .tagalys-btn:disabled,
    .tagalys-btn.disabled {
        background: #dddddd;
        color: #ed6502;
    }

    .tagalys-progress-inline {
        display: inline-table;
        float: left;
        width: 47%;
    }

    .tagalys-progress .row {
        min-height: 50px;
        height: auto;
    }

    div[id*=admin_tagalys] td.value {
        width: 500px !important;
    }

    input[id*=jtree][id*=-q] {
        width: 300px;
    }

    .tagalys-note {
        background-color: #fffbdc !important;
        border: dashed 1px #ffbc00 !important;
    }

    div[id*=categories-jtree-] {
        max-height: 500px;
        overflow: auto;
    }

    .jstree-hidden {
        display: none !important;
    }

    .entry-edit fieldset li,
    .entry-edit .fieldset li {
        margin: 0 0 0 22px !important;
    }

    .jstree-proton .jstree-disabled {
        color: #aaa;
    }

    .jstree-proton .jstree-clicked {
        background: #ffa436;
        box-shadow: inset 0 0 1px #a04300;
    }

    .jstree-proton .jstree-hovered {
        background: #ffac47;
        box-shadow: inset 0 0 1px #a04300;
    }

    .jstree-proton .jstree-anchor {
        cursor: pointer;
    }

    .hidden {
        display: none !important;
    }
</style>
<script>
    var syncManuallyUrl = '<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/tagalys/syncmanually/'); ?>';
    var syncStatusUrl = '<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/tagalys/syncstatus/'); ?>';
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script>
    tgls_jq = jQuery.noConflict()
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

<script>
    var tagalysManualSyncStarted = false;
    var tagalysClientSideWorkCompleted = false;
    var tagalysWaitingForTagalys = false;
    var tagalysSyncing = false;
    var tagalysLabelStartManualSync = 'Sync Manually';
    var tagalysLabelNothingToSync = 'Nothing to sync';
    var tagalysLabelSyncing = 'Manual sync in progress - do not close browser (click to pause)';
    var tagalysLabelManualSyncWaitingForTagalys = 'Waiting for Tagalys. You can close the browser.';
    var tagalysLabelManualSyncFinished = 'Finished syncing. You can close the browser.';

    function tagalysInterval(fn, time) {
        var timer = false;
        this.start = function() {
            if (!this.isRunning())
                timer = setInterval(fn, time);
        };
        this.stop = function() {
            clearInterval(timer);
            timer = false;
        };
        this.isRunning = function() {
            return timer !== false;
        };
    }
    var tagalysStatusUpdateInterval = new tagalysInterval(tagalysGetAndUpdateSyncStatus, 5000);
    var tagalysManualSyncIndicatorInterval = new tagalysInterval(tagalysUpdateManualSyncIndicator, 2000);
    var tagalysManualSyncTimeout = false;

    document.addEventListener("DOMContentLoaded", function(e) {
        tagalysGetAndUpdateSyncStatus();
        tagalysRenderJsTree('store');
        renderJsTreeForMultiSelect('admin_tagalys_core_js_rendered_stores', 'js-rendered-stores-jtree')
        tgls_jq.each(tgls_jq('#tagalys_admin_core_stores_for_tagalys').val(), function(i, store_id) {
            tagalysRenderJsTree('category', store_id);
        });
    });

    // monitoring
    var tagalysMonitorInterval = new tagalysInterval(tagalysMonitorTimers, 5000);
    tagalysMonitorInterval.start();

    function tagalysMonitorTimers() {
        if (tagalysSyncing) {
            tagalysManualSyncIndicatorInterval.start();
            if (tagalysManualSyncTimeout === false) {
                tagalysManualSyncTimeout = setTimeout(tagalysSyncManually, 100);
            }
        } else {
            tagalysManualSyncIndicatorInterval.stop();
            tagalysStatusUpdateInterval.start();
        }
    }


    function tagalysToggleManualSync() {
        if (tagalysSyncing) {
            tagalysStopManualSync();
        } else {
            tagalysStartManualSync();
        }
    }

    function tagalysStopManualSync() {
        tagalysSyncing = false;

        // stop timer
        if (tagalysManualSyncTimeout === false) {
            // not running. nothing to do.
        } else {
            clearTimeout(tagalysManualSyncTimeout);
            tagalysManualSyncTimeout = false;
        }
        tagalysManualSyncIndicatorInterval.stop();

        tagalysUpdateSyncButtonLabel();

        // start updates
        tagalysStatusUpdateInterval.start();
    }

    function tagalysStartManualSync() {
        // stop timer if running
        if (tagalysManualSyncTimeout === false) {
            // not running. nothing to do.
        } else {
            clearTimeout(tagalysManualSyncTimeout);
            tagalysManualSyncTimeout = false;
        }

        // stop updates
        tagalysStatusUpdateInterval.stop();

        // start manual sync
        tagalysSyncing = true;
        tagalysManualSyncTimeout = setTimeout(tagalysSyncManually, 100);
        tagalysManualSyncIndicatorInterval.start();
        tagalysUpdateSyncButtonLabel();
    }

    function tagalysUpdateSyncButtonLabel() {
        var toggleButton = document.getElementById('tagalys-toggle-manual-sync');
        if (tagalysSyncing) {
            toggleButton.innerHTML = tagalysLabelSyncing;
        } else {
            if (tagalysClientSideWorkCompleted) {
                if (tagalysWaitingForTagalys) {
                    toggleButton.innerHTML = tagalysLabelManualSyncWaitingForTagalys;
                } else {
                    if (tagalysManualSyncStarted) {
                        toggleButton.innerHTML = tagalysLabelManualSyncFinished;
                    } else {
                        toggleButton.innerHTML = tagalysLabelNothingToSync;
                    }
                }
            } else {
                toggleButton.innerHTML = tagalysLabelStartManualSync;
            }
        }
    }

    function tagalysUpdateManualSyncIndicator() {
        if (tagalysSyncing) {
            var toggleButton = document.getElementById('tagalys-toggle-manual-sync');
            var currentIndicator = toggleButton.innerHTML;
            var currentDotStr = currentIndicator.substr(tagalysLabelSyncing.length, 3);
            var nextDotStr = '...';
            switch (currentDotStr) {
                case '.':
                    nextDotStr = '..';
                    break;
                case '..':
                    nextDotStr = '...';
                    break;
                case '...':
                    nextDotStr = '.';
                    break;
            }
            toggleButton.innerHTML = tagalysLabelSyncing + nextDotStr;
        }
    }

    function tagalysSyncManually() {
        tagalysManualSyncStarted = true;
        if (tagalysSyncing) {
            new Ajax.Request(
                syncManuallyUrl, {
                    method: 'GET',
                    loaderArea: false,
                    onSuccess: function(transport) {
                        var syncStatus = JSON.parse(transport.responseText);
                        updateSyncStatus(syncStatus);
                        if (syncStatus.client_side_work_completed == true) {
                            tagalysStopManualSync();
                        } else {
                            tagalysManualSyncTimeout = setTimeout(tagalysSyncManually, 100);
                        }
                    },
                    onFailure: function() {
                        tagalysManualSyncTimeout = false;
                    }
                }
            );
        } else {
            // don't do anything
            tagalysManualSyncTimeout = false;
        }
    }

    function tagalysGetAndUpdateSyncStatus() {
        if (tagalysSyncing == false) {
            new Ajax.Request(
                syncStatusUrl, {
                    method: 'GET',
                    loaderArea: false,
                    onSuccess: function(transport) {
                        var syncStatus = JSON.parse(transport.responseText);
                        updateSyncStatus(syncStatus);
                    }
                    // onFailure : failure
                }
            );
        }
    }

    function updateSyncStatus(syncStatus) {
        tagalysClientSideWorkCompleted = syncStatus.client_side_work_completed;
        if (syncStatus.waiting_for_tagalys == true) {
            tagalysWaitingForTagalys = true;
        } else {
            tagalysWaitingForTagalys = false;
        }
        tagalysUpdateSyncButtonLabel();
        document.getElementById('note_sync_status').innerHTML = syncStatus.status;
        for (store_id in syncStatus.stores) {
            document.getElementById('admin_tagalys_core_store_' + store_id + '_note_setup_complete').innerHTML = (syncStatus.stores[store_id].setup_complete ? 'Yes' : 'No');
            var toggleButton = document.getElementById('tagalys-toggle-manual-sync');
            if (toggleButton.innerHTML == 'Sync Now') {
                var feed_status = syncStatus.stores[store_id].feed_status;
            } else {
                var feed_status = syncStatus.stores[store_id].feed_status.replace('Waiting to write', 'Writing');
            }
            document.getElementById('admin_tagalys_core_store_' + store_id + '_note_feed_status').innerHTML = feed_status;
            document.getElementById('admin_tagalys_core_store_' + store_id + '_note_updates_status').innerHTML = syncStatus.stores[store_id].updates_status;
            document.getElementById('admin_tagalys_core_store_' + store_id + '_note_listing_pages_status').innerHTML = syncStatus.stores[store_id].listing_pages_status;
        }
    }

    var jstreeSearchTimer = false;

    function tagalysGetTotalSelectedCategoriesCount() {
        var totalSelected = 0;
        tgls_jq.each(tgls_jq('#tagalys_admin_core_stores_for_tagalys').val(), function(i, storeId) {
            var selectorVal = tgls_jq('#admin_tagalys_core_categories_for_tagalys_store_' + storeId).val();
            if (selectorVal != null) {
                totalSelected += selectorVal.length;
            }
        });
        return totalSelected;
    }

    function tagalysRenderJsTree(tree_type, storeId) {
        var multiselect = '';
        var target_div = '';
        if (tree_type == 'category') {
            multiselect = 'admin_tagalys_core_categories_for_tagalys_store_' + storeId;
            target_div = 'categories-jtree-store-' + storeId;
            tgls_jq('#select-all-category-store-' + storeId).on('click', function(e) {
                e.preventDefault();
                e.stopPropagation();
                tgls_jq('#' + target_div).jstree(true).select_all();
            });
            tgls_jq('#deselect-all-category-store-' + storeId).on('click', function(e) {
                e.preventDefault();
                e.stopPropagation();
                tgls_jq('#' + target_div).jstree(true).deselect_all();
            });
        } else if (tree_type == 'store') {
            multiselect = 'tagalys_admin_core_stores_for_tagalys';
            target_div = 'stores-jtree';
            tgls_jq('#' + target_div + '-q').css('display', 'none');
        } else {
            return;
        }
        renderJsTreeForMultiSelect(multiselect, target_div, tree_type == 'category');
    }

    function renderJsTreeForMultiSelect(multiSelect, treeTarget, filterable = false) {
        if(!filterable) {
            tgls_jq('#' + treeTarget + '-q').css('display', 'none');
        }
        tgls_jq.jstree.defaults.checkbox.three_state = false;
        tgls_jq.jstree.defaults.search.show_only_matches = true;
        tgls_jq('#' + treeTarget).on('changed.jstree', function(e, data) {
            var i, j, r = [];
            for (i = 0, j = data.selected.length; i < j; i++) {
                r.push(data.instance.get_node(data.selected[i]).original.value);
            }
            tgls_jq('#' + multiSelect).val(r);
        }).jstree({
            'plugins': ["checkbox", "search"],
            'core': {
                'data': JSON.parse(tgls_jq('#' + treeTarget).attr('data-tree')),
                'themes': {
                    'name': 'proton',
                    'responsive': true
                },
            }
        });
        tgls_jq('#' + treeTarget + '-q')
            .attr('placeholder', "Search categories")
            .keyup(function() {
                if (jstreeSearchTimer) {
                    clearTimeout(jstreeSearchTimer);
                }
                jstreeSearchTimer = setTimeout(function() {
                    var v = tgls_jq('#' + treeTarget + '-q').val();
                    tgls_jq('#' + treeTarget).jstree(true).search(v);
                }, 250);
            });
    }
</script>


<script>
    var storesVisibilityTimer = false;
    tgls_jq(function() {
        tgls_jq('.force-hide-store-categories').parents('.fieldset').add(tgls_jq('.force-hide-store-categories').parents('.fieldset').prev()).hide();
    })
    tgls_jq('#admin_tagalys_core_enable_listingpages').change(function() {
        checkTagalysEnabled();
    });
    tgls_jq('#admin_tagalys_core_category_pages_rendering_method').change(function() {
        onRenderingModeChange();
    });
    tgls_jq('#admin_tagalys_core_same_or_similar_products_across_all_stores').change(function() {
        onSameProductsAcrossStoresChange();
    });
    tgls_jq('#admin_tagalys_core_store_id_for_category_pages').change(function() {
        updateStoreCategoriesVisibility();
    });
    tgls_jq('select[id^="admin_tagalys_core_enable_smart_page_store_"]').change(function() {
        checkIfSmartPagesEnabled();
    });
    tgls_jq('#admin_tagalys_core_understand_and_agree').keyup(function() {
        if (storesVisibilityTimer) {
            clearTimeout(storesVisibilityTimer);
        }
        storesVisibilityTimer = setTimeout(function() {
            updateStoreCategoriesVisibility();
        }, 250);
    });

    checkTagalysEnabled(false);
    onRenderingModeChange(false);

    function checkTagalysEnabled(resetIAgree) {
        if (typeof(resetIAgree) == 'undefined') {
            resetIAgree = true;
        }
        if (tgls_jq('#admin_tagalys_core_enable_listingpages').val() == '0') {
            tgls_jq('#admin_tagalys_core_technical_considerations_fieldset').add(tgls_jq('#admin_tagalys_core_technical_considerations_fieldset').prev()).hide();
            tgls_jq.each(tgls_jq('#tagalys_admin_core_stores_for_tagalys').val(), function(i, storeId) {
                var selectorVal = tgls_jq('#admin_tagalys_core_store_' + storeId + '_listing_pages').add(tgls_jq('#admin_tagalys_core_store_' + storeId + '_listing_pages').prev()).hide();
            });
        } else {
            tgls_jq('#admin_tagalys_core_technical_considerations_fieldset').add(tgls_jq('#admin_tagalys_core_technical_considerations_fieldset').prev()).show();
            tgls_jq.each(tgls_jq('#tagalys_admin_core_stores_for_tagalys').val(), function(i, storeId) {
                var selectorVal = tgls_jq('#admin_tagalys_core_store_' + storeId + '_listing_pages').add(tgls_jq('#admin_tagalys_core_store_' + storeId + '_listing_pages').prev()).show();
            });
            onRenderingModeChange(resetIAgree);
        }
    }

    function onRenderingModeChange(resetIAgree) {
        if (typeof(resetIAgree) == 'undefined') {
            resetIAgree = true;
        }
        if (resetIAgree) {
            tgls_jq('#admin_tagalys_core_understand_and_agree').val('');
        }
        var renderingMethod = tgls_jq('#admin_tagalys_core_category_pages_rendering_method').val();
        renderingMethod = renderingMethod ? renderingMethod : 'platform';
        tgls_jq('.visibile-for-rendering-method').parents('tr').hide();
        tgls_jq('.visibile-for-rendering-method-' + renderingMethod).parents('tr').show();
        if (renderingMethod == 'platform') {
            onSameProductsAcrossStoresChange();
        }
        updateStoreCategoriesVisibility();
    }

    function onSameProductsAcrossStoresChange() {
        var sameProductsAcrossStores = tgls_jq('#admin_tagalys_core_same_or_similar_products_across_all_stores').val();
        tgls_jq('.visible-for-same-products-across-stores').parents('tr').hide();
        tgls_jq('.visible-for-same-products-across-stores-' + sameProductsAcrossStores).parents('tr').show();
        updateStoreCategoriesVisibility();
    }

    function updateStoreCategoriesVisibility() {
        var tagalysEnabled = (tgls_jq('#admin_tagalys_core_enable_listingpages').val() == '1');
        var agreeValue = tgls_jq('#admin_tagalys_core_understand_and_agree').val();
        if (tagalysEnabled && agreeValue == 'I agree') {
            var renderingMethod = tgls_jq('#admin_tagalys_core_category_pages_rendering_method').val();
            renderingMethod = renderingMethod ? renderingMethod : 'platform';
            var sameProductsAcrossStores = tgls_jq('#admin_tagalys_core_same_or_similar_products_across_all_stores').val();
            if (renderingMethod == 'platform' && sameProductsAcrossStores == '1') {
                var storeIdForCategoryPages = tgls_jq('#admin_tagalys_core_store_id_for_category_pages').val();
                tgls_jq('.categories-for-tagalys-store').parents('.fieldset').add(tgls_jq('.categories-for-tagalys-store').parents('.fieldset').prev()).hide();
                tgls_jq('#admin_tagalys_core_store_' + storeIdForCategoryPages + '_listing_pages').add(tgls_jq('#admin_tagalys_core_store_' + storeIdForCategoryPages + '_listing_pages').prev()).show();
            } else {
                tgls_jq('.categories-for-tagalys-store').parents('.fieldset').add(tgls_jq('.categories-for-tagalys-store').parents('.fieldset').prev()).show();
            }
            checkIfSmartPagesEnabled();
        } else {
            tgls_jq('.categories-for-tagalys-store').parents('.fieldset').add(tgls_jq('.categories-for-tagalys-store').parents('.fieldset').prev()).hide();
        }
    }

    function checkIfSmartPagesEnabled() {
        tgls_jq('select[id^="admin_tagalys_core_enable_smart_page_store_"]').each(function(i, elem) {
            var $smartInputs = tgls_jq(elem).parents('tbody').children('tr').slice(1,3);
            if(tgls_jq(elem).val() == 1){
                $smartInputs.show();
            } else {
                $smartInputs.hide();
            }
        });
    }
</script>