<?php
$_helper    = $this->helper('catalog/output');
$_category  = $this->getCurrentCategory();
$_imgHtml   = '';
if ($_imgUrl = $_category->getImageUrl()) {
    $_imgHtml = '<p class="category-image"><img src="' . $_imgUrl . '" alt="' . $this->escapeHtml($_category->getName()) . '" title="' . $this->escapeHtml($_category->getName()) . '" /></p>';
    $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
}
?>
<div class="page-title category-title">
    <?php if ($this->IsRssCatalogEnable() && $this->IsTopCategory()) : ?>
        <a href="<?php echo $this->getRssLink() ?>" class="link-rss"><?php echo $this->__('Subscribe to RSS Feed') ?></a>
    <?php endif; ?>
    <h1><?php echo $_helper->categoryAttribute($_category, $_category->getName(), 'name') ?></h1>
</div>

<?php echo $this->getMessagesBlock()->toHtml() ?>

<?php if ($_imgUrl) : ?>
    <?php echo $_imgHtml ?>
<?php endif; ?>

<?php if ($_description = $this->getCurrentCategory()->getDescription()) : ?>
    <div class="category-description std">
        <?php echo $_helper->categoryAttribute($_category, $_description, 'description') ?>
    </div>
<?php endif; ?>

<?php if ($this->isContentMode()) : ?>
    <?php echo $this->getCmsBlockHtml() ?>

<?php elseif ($this->isMixedMode()) : ?>
    <?php echo $this->getCmsBlockHtml() ?>
    <div class="tagalys-namespace tagalys-namespace-mpage" id="tagalys-namespace"></div>
<?php else : ?>
    <div class="tagalys-namespace tagalys-namespace-mpage" id="tagalys-namespace"></div>
<?php endif; ?>


<script type="text/javascript">
    (function($) {
        __tagalysRendered = true;
        if (typeof($.fn.tagalys_ready) != 'undefined' && $.fn.tagalys_ready) {
            setupTagalysCategoryPage();
        }
        $(document).on('tagalys:ready', function() {
            setupTagalysCategoryPage();
        });

        function setupTagalysCategoryPage() {
            if ($('#tagalys-namespace.tagalys-namespace-mpage').length > 0) {
                <?php $params = Mage::app()->getRequest()->getParams(); ?>
                $('#tagalys-namespace.tagalys-namespace-mpage').tagalys_mpage({
                    name: '<?php echo $params['id'] ?>',
                    platform: true
                });
            }
        }
    }(jQuery));
</script>