<div class="tagalys-namespace tagalys-namespace-mpage" id="tagalys-namespace">

</div>

<script type="text/javascript">
    (function($) {
        if (typeof($.fn.tagalys_ready) != 'undefined' && $.fn.tagalys_ready) {
            setupTagalysMpage();
        }
        $(document).on('tagalys:ready', function() {
            setupTagalysMpage();
        });

        function setupTagalysMpage() {
            <?php $params = Mage::app()->getRequest()->getParams(); ?>
            $('#tagalys-namespace.tagalys-namespace-mpage').tagalys_mpage({
                name: '<?php echo $params['mpage'] ?>'
            });
        }
    }(jQuery));
</script>