<div class="tagalys-namespace" id="tagalys-namespace">

</div>

<script type="text/javascript">
    (function($) {
        if (typeof($.fn.tagalys_ready) != 'undefined' && $.fn.tagalys_ready) {
            setupTagalysMystore();
        }
        $(document).on('tagalys:ready', function() {
            setupTagalysMystore();
        });

        function setupTagalysMystore() {
            $('#tagalys-namespace').tagalys_my_store({
                context: $('body').data('tgls-tagalys_context')
            });
        }
    }(jQuery));
</script>