<div class="tagalys-namespace tagalys-namespace-search" id="tagalys-namespace">

</div>

<script type="text/javascript">
    (function($) {
        if (typeof($.fn.tagalys_ready) != 'undefined' && $.fn.tagalys_ready) {
            setupTagalysSearchResults();
        }
        $(document).on('tagalys:ready', function() {
            setupTagalysSearchResults();
        });

        function setupTagalysSearchResults() {
            $('#tagalys-namespace.tagalys-namespace-search').tagalys_search_results();
        }
    }(jQuery));
</script>