<?php if (Mage::getModel('tagalys_core/config')->getTagalysConfig('tagalys:health') == '1') : ?>
    <?php
    $api_credentials = json_decode(Mage::getModel('tagalys_core/config')->getTagalysConfig("api_credentials"), true);
    $currency = Mage::helper('search_suggestions')->getCurrentCurrency();

    $store_code = $api_credentials['client_code'] . "-" . Mage::app()->getStore()->getStoreId();
    $path_components = array();
    array_push($path_components, substr($store_code, 0, 2));
    array_push($path_components, substr($store_code, 2, 2));
    array_push($path_components, substr($store_code, 4, 2));
    array_push($path_components, substr($store_code, 6));
    $tagalys_plugins_path_for_store = "https://d2r9py2hfy5mgp.cloudfront.net/" . implode('/', $path_components) . "/tagalys-plugins.js";
    ?>
    <script src='<?php echo $tagalys_plugins_path_for_store ?>' type='text/javascript'></script>
    <script>
        try {
            (function($) {
                $.fn.tagalys_platform_variables = $.fn.tagalys_platform_variables || {};
                $.fn.tagalys_platform_variables.uenc = '<?php echo Mage::helper('core/url')->urlEncode(Mage::helper('core/url')->getCurrentUrl()); ?>';
                $.fn.tagalys_platform_variables.formKey = '<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>';

                var user_id = $.fn.tagalys_analytics.getCookie('__ta_user_id');
                if (user_id != "") {
                    $.fn.tgls_context.user_id = user_id;
                }
                $.fn.tgls_context.currency = {
                    label: "<?php echo $currency[0]['label']; ?>",
                    exchange_rate: "<?php echo  $currency[0]['exchange_rate']; ?>",
                    fractional_digits: "<?php echo  $currency[0]['fractional_digits']; ?>"
                }
            }(jQuery));
        } catch (err) {

        }
    </script>
    <?php
    $analyticsEvent = false;
    try {
        $analyticsEvent = Mage::getModel('core/cookie')->get('__ta_event');
        if ($analyticsEvent == false) {
            $analyticsEvent = Mage::registry('tagalys_analytics_event');
        }
        if ($analyticsEvent != false) {
            $analyticsEvent = json_decode($analyticsEvent, true);
            Mage::getModel('core/cookie')->delete('__ta_event');
        }
    } catch (Exception $e) {
        // don't log this as it might happen too often
    }
    ?>
    <?php if ($analyticsEvent != false) : ?>
        <script>
            try {
                (function($) {
                    var track = true;
                    <?php if ($analyticsEvent[2] == 'buy') : ?>
                        var last_tracked_order_id = $.fn.tagalys_analytics.getCookie('__ta_last_order_id');
                        if (last_tracked_order_id == '<?php echo $analyticsEvent[4] ?>') {
                            track = false;
                        } else {
                            $.fn.tagalys_analytics.setCookie('__ta_last_order_id', '<?php echo $analyticsEvent[4] ?>', 24 * 60 * 60 * 1000);
                        }
                    <?php endif; ?>
                    if (track) {
                        $.ajax({
                            url: "<?php echo Mage::getUrl('tanalytics/index/details/'); ?>",
                            data: {
                                event_json: '<?php echo json_encode($analyticsEvent) ?>'
                            },
                            dataType: 'json',
                            method: 'POST',
                            type: 'POST',
                            context: <?php echo json_encode($analyticsEvent) ?>,
                            success: function(data, textStatus, jqXHR) {
                                for (var i = 0; i < this[3].length; i++) {
                                    if (this[2] == 'buy') {
                                        $.fn.tagalys_analytics.track_event(this[1], $.extend({
                                            action: this[2],
                                            order_id: this[4]
                                        }, data[i]));
                                    } else {
                                        $.fn.tagalys_analytics.track_event(this[1], $.extend({
                                            action: this[2]
                                        }, data[i]));
                                    }
                                }
                            }
                        });
                    }
                }(jQuery));
            } catch (err) {

            }
        </script>
    <?php endif; ?>
    <script>
        try {
            (function($) {
                var logged_in_user_id = $.fn.tagalys_analytics.getCookie('__ta_logged_in');
                if (logged_in_user_id != "") {
                    $.fn.tagalys_analytics.track_user(logged_in_user_id);
                    $.fn.tagalys_analytics.deleteCookie('__ta_logged_in');
                }
            }(jQuery));
        } catch (err) {

        }
    </script>
<?php endif; ?>
<?php if (Mage::getModel('tagalys_core/config')->getTagalysConfig('tagalys:health') == '1' && Mage::helper('tagalys_core')->isTagalysModuleEnabled('search')) : ?>
    <script>
        (function($) {
            try {
                $.fn.tagalys_search_suggestions.search_link = function(q, qf, qin) {
                    var categories_base_url = "<?php echo  Mage::getBaseUrl(); ?>catalog/category/view/id/";
                    var tagalys_search_base_url = "<?php echo Mage::getUrl('tsearch'); ?>?q=";
                    if (typeof(qf) == 'undefined' || $.isEmptyObject(qf)) {
                        return (tagalys_search_base_url + encodeURIComponent(q));
                    } else {
                        str = Object.keys(qf).map(function(key) {
                            return encodeURIComponent(key) + "-" + encodeURIComponent(qf[key]);
                        }).join('~');
                        qf_param = encodeURIComponent("qf") + '=' + str;

                        return tagalys_search_base_url.concat(encodeURIComponent(q) + "&" + qf_param);
                    }
                };
                if (typeof($.fn.tagalys_ready) != 'undefined' && $.fn.tagalys_ready) {
                    setupTagalysSearchSuggestions();
                }
                $(document).on('tagalys:ready', function() {
                    setupTagalysSearchSuggestions();
                });

                function setupTagalysSearchSuggestions() {
                    $(document).ready(function() {
                        $('<?php echo Mage::getModel('tagalys_core/config')->getTagalysConfig('search_box_selector') ?>').tagalys_search_suggestions({
                            currency: {
                                label: "<?php echo $currency[0]['label']; ?>",
                                exchange_rate: "<?php echo  $currency[0]['exchange_rate']; ?>",
                                fractional_digits: "<?php echo  $currency[0]['fractional_digits']; ?>"
                            },
                            track: 'asynchronous',
                            align_to_parent: '<?php echo Mage::getModel('tagalys_core/config')->getTagalysConfig('suggestions_align_to_parent_selector') ?>'
                        });
                    })
                }
            } catch (err) {

            }
        }(jQuery));
    </script>
<?php endif ?>